@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
  display:block;
}
nav ul{
  list-style:none;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}

/* BODY DEFAULTS */
html{
	margin-bottom: 1px;
	min-height: 100%;
}
body {
	background: #F0F0F0;
	color: #444;
	font-family: Georgia, serif;
	font-size: 62.5%;
}
html>body {
	font-size: 16px;
}
p, blockquote, footer {
	font-size: 1em;
	line-height: 1.5;
}
a, a:visited{
	color: #0090D2;
	text-decoration: none;
}
a:hover {
	color: #0063A6;
}
a:active,a:focus{
	color: #0063A6;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue','Helvetica',Arial, sans-serif;
	font-weight: normal;
	line-height: 1;
	color: #0063A6;
}
h1{
	font-size: 2em;
	line-height: 1;
}
h2{
	font-size: 1.8em;
	line-height: 1.25;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h3 {
	font-size: 1.20em;
	line-height: 1.2;
	margin: 1.8em 0 .6em;
}
h4 {
	font-size: 1.125em;
	line-height: 1.3333em;
	margin: 2em 0 .6667em;
}
h5, dt {
	font-weight: bold;
}
h4, h5, h6, dt {
	font-family: "Helvetica Neue","Bitstream Vera Sans",Arial,sans-serif;
}
hr, .hide {
	display: none;
}
a img{
	border: none;
}
div {
	position: relative;
}
dl {
	line-height: 1.5;
	margin:1.5em 0;
}
dd { margin-bottom:0.8em; }
li p {
	margin: 0;
}
li p + p {
	margin-top: 1.5em;
}
li ul, li ol, li dl, dd ol, dd ul, dd dl {
	margin: 0 0 0 1.5em;
}
strong, b, figcaption em, figcaption i, caption em, caption i {
	font-weight: bold;
}
em, i, cite {
	font-style: italic;
}
dfn {
	font-weight: bold;
}
small, .small {
	font-size: .875em;
}
sup, sub {
	line-height: 0;
}
abbr[title], dfn[title] {
 border-bottom: 1px dotted #666;
}
address {
	margin: 0 0 1.5em;
	font-style: italic;
}
address + p {
	margin-top: 0;
}
pre {
	margin: 1.5em 0;
	border-left: 7px solid #CCC;
	padding-left: 0.7em;
}
pre,code,tt,kbd {
	font: 0.95em "courier new", "courier", monospace;
	line-height: 1.1;
}

/* TEMPLATE COLOURS */
.blue   {color: #0098d8}
.red    {color: #de1638}
.orange {color: #dd7737}
.green1 {color: #a59e10}
.green2 {color: #868507}

/* BASE */
.inner{
	margin: 0 auto;
	position: relative;
	width: 1020px;
}
header.banner {
	background:#0063A6;
	height: 140px;
	width: 100%;
}
#content{
	background: #FFF;
	border-top: 45px solid #0090D2;
	margin: -45px auto 0;
	padding: 24px 0 0 0;
	width: 1060px;
}
.main{
	border-right:4px solid #F0F0F0;
	float:left;
	margin:0 18px 0 0;
	padding:0 18px 30px 0;
	position: relative;
	width: 685px;
}
.secondary{
	float:left;
	padding: 0;
	width: 310px;
}
footer {
	margin: 20px 0 0 0;
	padding: 0 0 40px 0;
}

/* HEADER STYLES */
header hgroup{ 
	height: 124px;
	margin: 0;
	width: 650px;
}
header hgroup h1{
	font-family: "Courier New", Courier, monospace;
	display: block;
	font-size: 300%;
	font-style: normal;
	padding-top: 10px;
	padding-left: 25px;
	color: #FFF;
}
header hgroup h2{
	color: #FFF;
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	line-height: 1;
	text-transform: none;
	padding-left: 27px;
}

/* TOP NAV STYLES */
#menu-top-nav{
	color: #fff;
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 10px;
	list-style-type: none;
}
#menu-top-nav li{
	float: left;
	position: relative;
}
#menu-top-nav ul{
	position: absolute;
	left: -9999px;
	margin: 0 0 0 0;
	top: 100%;
	width: 100%;
	list-style:none;
}
#menu-top-nav ul li{
	clear: both;
	margin: 5px 0;
}
#menu-top-nav li:hover ul{
	left: auto;
}
#menu-top-nav li:after{
	content:"\007C";
}
#menu-top-nav ul li:after {
	content: "";}
#menu-top-nav li:last-child:after{
	content:"\0020";
}
#menu-top-nav li a{
	color: #FFF;
	padding: 0 4px;
}
#menu-top-nav li a:hover{
	text-decoration: underline;
}
#menu-top-nav .menu-list>a:after {
content:' \25be';	
}
#menu-top-nav .menu-list>a {
	text-decoration: none;
}

/* MAIN NAV STYLES */
header .inner nav{
	left: 0px;
	padding: 0 20px;
	position: relative;
	top: -15px;
	width: 980px;
	z-index: 3;
}
header .inner nav ul{
	color: #fff;
	float: left;
	font-family: 'Helvetica Neue',Arial,sans-serif;
	letter-spacing: 1px;
	margin:0 0 0 -10px;
}
header .inner nav ul li{
	float: left;
	padding:0 9px;
}
header .inner nav ul li a{
	color: #fff;
	font-size:14px;
	padding: 15px 10px 13px;
}
header .inner nav ul li a:hover{
	text-decoration: underline;
}

header .inner nav ul li a.link_src {
	color: yellow;
	text-decoration: none;
}


/* POST STYLES */
.post {
	padding: 0 0 0 20px;
}
.post header{
	margin: 0 0 20px;
	padding:0 0 10px 0px;
	width:inherit;
}
.post h1{
	text-align: right;
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: "courier new", "courier", monospace;
	font-weight: bold;
}
.post header small{
	color: #888;
	font-style: italic;
	font-size: 14px;
}
.post aside{
	float:left;
	font-size:14.158px;
	padding:0 44px 0 0;
	width:120px;
}
.post aside h3{
	border: none;
	color: #888;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 16px;
	margin: 0 0 5px;
	padding: 13px 0 0 0;
	text-transform: uppercase;
}
.post ul{
	margin: 1.1em 0 1.1em 1.5em;
	text-align: justify;
}
.post li {
	padding: 0.15em;
	margin: 0.3em;
}

.post p {
	margin-top: 1.3em;
	margin-bottom: 1.3em;
	text-align: justify;
}

.post .preamble {
	margin-top: 2em;
	text-align:right;
	font-style: italic;
	margin-right: auto;
	margin-left: auto;
	widht: 400px;
}
.post .preamble p {
	margin-top: 0;
	margin-bottom: 0;
	text-align:right;
}

.post .assert p, .post .alert p{
	border: 2px dashed #CCC;
	margin-left: auto;
	margin-right: auto;
	width: 470px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 1em;
	padding: 0.7em;
}

.post .alert p{
	border-color: #50B3F6;
	color: #0063A6;
}

.post .book_nav {
	margin: 0;
	padding: 0;
	font: 1.3em "courier new", "courier", monospace;
}
.post .book_nav a{
	color: #0063A6;
	color: #dd7737;
}

.post td, .post th {
	border: 1px solid #CCC;
	padding: 3px 7px 3px 7px; 
	font-family: "courier new", "courier", monospace;
	font-size: 1.1em;
	text-align: center;
}

.post th {
	background-color: #b3dbf6;
	font-weight: bold;
}

/* SIDEBAR/SECONDARY STYLES */
.secondary .mod {
	font-size: 14px;
	clear:left;
}
.mod {
	margin: 0 0 40px 0;
}
.mod img{
	max-width: 97%;
}
.mod h3{
	border-top: 3px solid #F0F0F0;
	color: #888;
	margin: 0 0 5px;
	padding: 10px 0;
	text-transform: uppercase;
}
.secondary .mod:first-child h3{
	border-top: none;
}
body.single .secondary .mod h3{
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 16px;
}

/* FOOTER STYLES */
footer .inner p{
	font-size: 0.85em;
	padding: 0 0 10px 0px;
}

/* EXTRAS */
.group:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
* html .group {	height: 1%;}
*:first-child+html .group { min-height: 1px;}

/* BROWSER SPECIFIC */
#content{
	-moz-box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

